.navbar-header {
  text-align: center;
}

.navbar {
  color: #BFB5D7;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    /*background: #EFE8D8;*/
    margin-right: auto;
    margin-left: auto;
}

small {
  font-size: 10px;
}
.col-lg-6 {
  margin-top: 300px;
  margin-left: 500px;
}

.btn-group {
  margin-top: 10px;
  margin-left: 1290px;

}

.dropdown {
  position: relative;
}

p {
  text-align: center;
}

.container{
  margin-top: 50px;
}

.tab-content{

}

body {
  font-family: 'Philosopher', sans-serif;
  font-size: 18px;
  background-image: url("http://www.siwallpaperhd.com/wp-content/uploads/2015/10/palm_tree_widescreen_wallpaper.jpg");
  background-repeat: no-repeat; 
  background-size: 100%;

}

.flights {
  margin-bottom: 10px;
}

.navbar-brand{
  font-weight: bolder;
  font-size: 30px;

}

#home, #menu1, #menu2 {
  background-color: black;
  border-radius: 5px;
  /*margin-top: -20px;*/
  opacity: 0.75;
  color: white;
  padding: 10px 10px 0px 10px;

}

#home.tab-pane.fade.in.active{
overflow: scroll;
}
.nav-tabs{
  color: white;
}

.btn-default {
  margin-bottom: 10px;
}

a {
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-brand {
    color: #9093D9;
    background-color: #EFE8D8;
    src: ;
    }

@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    } 
} 
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    } 
} 
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    } 
}

.container-small, .container-large {
    max-width: 100%;
}