html {
  height: 100%;
  width: 100%;
  
}

#universalPage{
  background-color: #EFE8D8;
}

body{
  background-color: #ece9e9;
  background-size: 100%;
}


.navbar-header {
  text-align: center;
}

.navbar {
  color: #BFB5D7;
}

.navbar-default {
    background-color: #EFE8D8;
    border-color: #e7e7e7;
}


.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
nav.navbar.navbar-default {
/*width: 1150px;*/
width: auto;
height: 53px;
}

div.container-fluid{

}

.col-lg-6 {
  margin-top: 300px;
  margin-left: 500px;
}

.logo {
  width: 120px;
  height: 25px;
}

.btn-group {
  margin-top: 10px;
  margin-left: 1290px;

}

.dropdown {
  position: relative;
}

p {
  text-align: center;
}

.container{
  margin-top: 50px;
}

.flights {
  margin-bottom: 10px;
}

.navbar-brand{
  font-weight: bolder;
  font-size: 30px;

}

.nav-tabs{
  color: white;
}

.btn-default {
  margin-bottom: 10px;
}

a {
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-brand {
    color: #9093D9;
    background-color: #EFE8D8;
    src: ;
    }