/*html {
  height: 100%;
  width: 100%;
  
}*/

h1{
  font-size: 48px;
  font: white;
}

#universalPage{
  background-color: #EFE8D8;
}

/*body{
  background-color: #ece9e9;
  background-size: 100%;
}*/

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
    margin: 10px;
}


.btn-primary.btn-outline:hover,
.btn-info.btn-outline:hover {
    color: #fff;
}

.navbar-header {
  text-align: center;
}

#IndexPage img{
  background-color: white;
  border: 1px solid black;
  vertical-align: middle;
  width: 50%;
}

.indexPageBackground {
  padding-top: 20px;
  font-family: 'Philosopher', sans-serif;
  height: 100vh;
  width: 100vw;
  font-size: 18px;
  background-image: url("http://i.stack.imgur.com/pRumE.png");
  background-repeat: no-repeat; 
  background-size: 100%;
}

.navbar {
  color: #BFB5D7;
}

.navbar-default {
    background-color: #EFE8D8;
    border-color: #e7e7e7;
}


.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
nav.navbar.navbar-default {
/*width: 1150px;*/
width: auto;
height: 53px;
}

#welcome{
  font-size: 20px;
  color: white;
  background-color: transparent;
}

div.container-fluid{

}

.rowIndex{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.col-lg-6 {
  margin-top: 300px;
  margin-left: 500px;
}

.logo {
  width: 120px;
  height: 25px;
}

.btn-group {
  margin-top: 10px;
  margin-left: 1290px;

}

.dropdown {
  position: relative;
}

p {
  text-align: center;
}

.container{
  margin-top: 50px;
}

.containerSearch {
  width: 98%;
}

.flights {
  margin-bottom: 10px;
}

.navbar-brand{
  font-weight: bolder;
  font-size: 30px;

}

span{
  font: black;
}

.nav-tabs{
  color: white;
}

.outbound .inbound .prices{
border: 1px solid #ddd;
  overflow: auto;
}

.price .prices{
  font: black;
}
.btn-default {
  margin-bottom: 10px;
}

a {
  color: gray;
  font-weight: bold;
}

.navbar-default .navbar-brand {
    color: #9093D9;
    background-color: #EFE8D8;
    }


ul {
  list-style-type: none;
  color: black;
}

.footerBox {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}