.col-lg-6 {
	margin-top: 300px;
	margin-left: 500px;
}

.btn-group {
	margin-left: 1625px;

}

#home.tab-pane.fade.in.active{
  height: 400px; /* Fix a height here */
  overflow: auto;
}

.dropdown {
	position: relative;
}

p{
	text-align: center;
}

.container{
	margin-top: 100px;
}

.tab-content{

}

body {
	font-family: 'Philosopher', sans-serif;
}

.flight {
	margin-bottom: 10px;
}
