<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/momentjs/2.15.1/moment-with-locales.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="Profile.css">

    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
  
    <link rel="stylesheet" href="Profile.css" type="text/css" >

  </head>

<div class="container">
    <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        
        <div class="profile-userpic">
          <img src="https://media4.giphy.com/media/10ECejNtM1GyRy/200_s.gif" alt="">
        </div>
        
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Paul Castro
          </div>
          <div class="profile-usertitle-job">
            Web Developer
          </div>
        </div>
       
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Flights</button>
          <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div>
       
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
              <i class="glyphicon glyphicon-home"></i>
              Overview </a>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-user"></i>
              Account Settings </a>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-ok"></i>
              Tasks </a>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-flag"></i>
              Help </a>
            </li>
          </ul>
        </div>
       
      </div>
    </div>
    <div class="col-md-9">
            <div class="profile-content">
         Whatever people want to write like fhebjdhgudhbcjdbcjhdbcwdhjb...
            </div>
    </div>
  </div>
</div>

</html>