
<form action="/login" method="post">
  <div class="header navbar2 navbar-inverse navbar-static-top" id = "top2">
                  <div class="navbar-header" id='logoName'>
                          <img src="static/images/mocklogo.png" alt="Logo" id='logo' class="navbar-left">
                          <h1 id='tname'>Eleuth</h1>
  </div>
  <div class="navbar-collapse collapse" id="navList">
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/ProfilePage" class="scrollto" id="mainlogin">Main</a>
        </li>
      </ul>
  </div>
 </div>

  {{!--</form>--}}
</div>
  <div class= "loginBody">
      <div class="wrapper">
      <div class= "container">
        <div class = "row">
           <div class="col-md-6 col-md-offset-3 text-center enter_section">
             <div class="sectioner">
             <div>
               <br>
              <label>Username:</label>
              <input type="text" name="username"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>

      <div>
        <input type="submit" class="btn btn-lg btn-default" value="login"/>
      <button type="button" class="btn btn-lg btn-default" type="submit"><a href="/register">New Member?</a></button>
      </div>
<br>


      </form>
    </div>
      </div>
      </div>
  </div>
</div>

</div>
<footer class = "text-center">
  <h7>Eleuth Co.</h7>

</footer>