/*body {
  margin-top:60px ;
}*/

.user-form-container {
  max-width: 320px;
  padding: 0px;
  margin: 0 auto;
}

.tab-pane {

  border-left: 1px solid #DDDDDD ;
  border-right: 1px solid #DDDDDD ;
  border-bottom: 1px solid #DDDDDD ;
  border-radius: 0px 0px 5px 5px ;
  background-color: transparent ;
  padding: 10px;

}

.nav-tabs {

  margin-bottom: 0;
  
}

.nav>li>a {

  padding: 7px ;

}

.row {

  margin-bottom:10px ;

}

.input-group>input {

  width:50% ;

}

.form-group {

  margin-bottom: 8px ;
  
}