.col-lg-6 {
	margin-top: 300px;
	margin-left: 500px;
}

.btn-group {
	margin-left: 1625px;

}

.dropdown {
	position: relative;
}

p{
	text-align: center;
}

.container{
	margin-top: 100px;
}

.panel-body{
  overflow: auto;
}

body {
	font-family: 'Philosopher', sans-serif;
}

.list-group-item{
  font: black;
}

.options{
  font: black;
}

.flight {
	margin-bottom: 10px;
}

.pull-right{
  overflow: auto;
}

list-group-item{
  font:black;
}

.ResultsPage {
  padding-top: 20px;
  font-family: 'Philosopher', sans-serif;
  height: 100vh;
  width: 100vw;
  color: black;
  font-size: 18px;
  background-image: url("https://wallpaperscraft.com/image/serenity_tulips_fence_airplane_clouds_32569_2560x1440.jpg");
  background-repeat: no-repeat; 
  background-size: 100%;
/*  background-color: #c99504;*/
}

.panel-primary>.panel-heading {
    /* color: #fff; */
    /* background-color: #337ab7; */
    border-color: #337ab7;
}

.resultsContainer{
  border-width: 20px;
  border-color: black;
  height: 600px; /* Fix a height here */
  overflow: auto;
 }
